/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
   textarea {
      width:100%; height:75%;
      background-color: darkgrey;
   }

   .btn-large {
      display: block;
   }
   .btn-small {
      display: none;
   }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
   textarea {
      width:100%; height:75%;
      background-color: darkgrey;
   }

   .btn-large {
      display: block
   }
   .btn-small {
      display: none;
   }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
   textarea {
      width:100%; height:75%;
      background-color: darkgrey;
   }

   .btn-large {
      display: none;
   }
   .btn-small {
      display: block;
   }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
   textarea {
      width:100%; height:75%;
      background-color: darkgrey;
   }

   .btn-large {
      display: none;
   }
   .btn-small {
      display: block;
   }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
   textarea {
      width:100%; height:75%;
      background-color: darkgrey;
   }

   .btn-large {
      display: block;
   }
   .btn-small {
      display: block;
   }

}
